.customMarkerCluster {
  border-radius: 50%;
  font-size: 14px;
  color: #fff;
  background-color: #b94444;
  border: 1px solid #691035;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
